.box {
    width: 100px;
    height: 100px;
    line-height: 80px;
    background: #dedede;
    text-align: center;
    /* text-align: left; */
    /* text-align: right; */
    /* text-align: justify; */
    margin: auto;
    border: 2px solid red;
    padding: 10px;
    box-sizing: border-box;
    word-break: break-all;
    color:rgb(1, 190, 42);
    font-size: 50px;
    font-weight: 400;
    font-family: 'East Sea Dokdo', cursive;
}