*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

.container {
    width: 80%;
    height: 100%;
    margin: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

.slogan {
    font-size: 24px;
    text-align: center;
    position: relative;
    margin-bottom: 20px;

    &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: calc(50% - 140px);
        width: 0;
        height: 3px;
        border-left: solid 100px #1072c2;
        border-right: solid 180px #fff;
    }
}