@import 'reset';

.product-block {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.product {
    width: 300px;
    min-height: 200px;
    background: #dedede;
    padding: 15px;
    margin: 0 15px;
    margin-bottom: 15px;

    .product-image {
        width: 100%;
        height: 200px;
        background-color: #ff5858;
        color: #fff;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;

        .product-image-wrap {
            background-position: center;
            background-image: url(../images/dog.jpeg);
            background-size: cover;
            width: 100%;
            height: 100%;
            transition: 3s;
        }

        .discount-bar {
            background: #ff5858;
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            font-weight: 700;
            font-family: 'Shantell Sans', cursive;
            transform: rotate(45deg);
            position: absolute;
            right: -105px;
            top: 10px;
        }

        &:hover {
            .product-image-wrap {
                transform: scale(1.5);
            }

            .discount-bar {
                background-color: aquamarine;
                color: #ff5858;
            }
        }
    }

    .product-title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 15px;
    }
}