@import 'reset';

.product-block {
    margin-top: 20px;
}

.product {
    width: 300px;
    height: 600px;
    background: #dedede;
    padding: 15px;

    .product-image {
        width: 100%;
        height: 200px;
        background: #ff5858;
        color: #fff;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .product-title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 15px;
    }
}